@charset "UTF-8";

@media screen and(max-width:1050px){

    }
    .list-item{
        grid-template-columns:1fr 1fr  ;
    }

    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 12px;
        width: 300px;
        height: 800px;
    
    }


.main-container{
    width: calc(100vw - 100px);
    height: 100vh;
    margin-left: 300px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
    padding: 12px;
  }
  

  
  .header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
  }

  /* PLAYLIST */
.playlist-container {
  height: 68vh;
  padding-top: 16px;
  margin: 10px;
  border-radius: 10px;
  background-color: #121212;
  width: 600px;
}

#result-playlists{
    width: 600px;
}


#result-artist {
  padding: 20px 40px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}

